# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/

# Packrat files
packrat/lib*/

# temp file for schedulr code from schedulr GitHub repository
code.r

